<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <header>
        <%- include('../partials/header') %>
        
    </header>
    <main>
        <h2>ABOUT US</h2>
        <p>
            The Community Policing Forum (CPF) Community Portal is a dynamic web application designed to strengthen community 
            engagement in keeping our area safe and promoting community involvement and growth by providing easy access to 
            local policing events, contact information, and resources. 
        </p>
        <h2>MEET THE TEAM</h2>
        
        <p>
            We are a team passionate about building web application portals for communities.
            <br>
            This is a simple Express MVC application built with JS and EJS as the templating engine.
            This dynamic community portal was built using Node.js, Express.js, EJS, CSS, Git & GitHub, Nodemon and MongoDB. 
            Featuring a Home, About, Events, Contact and Thank You page.
        </p>
        
        <section id="allMembers">
            <% members.forEach(member => { %>
            <div class="memberDiv">
                <h3 id="memberHeading"><%= member.name %></h3>
                <div id="memberBody">
                    <P> Position: <%= member.position %></P>
                    <P> Description: <%= member.description %></P>
                </div>
            </div>
        <% }); %>
        </section>
        
    </main>
</body>
    <%- include('../partials/footer') %>
</html>