<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div id="welcomeModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal()">&times;</span>
            <h2>Welcome to the CPF Community Portal!</h2>
            <p>Your hub for community events and updates.</p>
        </div>
    </div>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h2>Hi there...</h2>
        <p>
            If you want to get in touch, please visit the contact page. For more information, visit the about page. 
            Stay up to date with our events on the events page or see a brief overview here below.
        </p>
        <br>
        <h2 id="eventHead">UPCOMING EVENTS</h2>
        <p id="eventHead">Check out what's happening next!</p>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% events.forEach(event => { %>
                        <tr>
                            <td><%= event.name %></td>
                            <td><%= event.date %></td>
                            <td><%= event.location %></td>
                            <td><%= event.description %></td> 
                        </tr>
                        <% }); %>
                </tbody>
                </table>
                <br>
                <div class="eventsImageContainer">
                    <% events.forEach(event => { %>
                        
                        <div class="eventsImages">
                            
                            <p><strong><%= event.name %></strong></p>
                            <img id="eventsImage" src="<%= event.image %>" alt="<%= event.name %>">
                        </div>
                        <br>
                        
                    <% }) %>
                </div>

            </section>
    </main>
    <%- include('../partials/footer') %>
    <script>
        window.onload = function() {
            document.getElementById("welcomeModal").style.display = "block";
        };
        
        function closeModal() {
            document.getElementById("welcomeModal").style.display = "none";
        }
        
        window.onclick = function(event) {
            const modal = document.getElementById("welcomeModal");
            if (event.target === modal) {
                modal.style.display = "none";
            }
        };
    </script>
</body>
</html>